[submodule "deps/3rdparty/bgfx/bgfx"]
	path = deps/3rdparty/bgfx/bgfx
	url = https://github.com/unravel-dev/bgfx.cmake.git
[submodule "deps/ospp/ospp"]
	path = deps/ospp/ospp
	url = https://github.com/unravel-dev/ospp.git
[submodule "deps/3rdparty/spdlog/spdlog"]
	path = deps/3rdparty/spdlog/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/3rdparty/imgui/imgui"]
	path = deps/3rdparty/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/3rdparty/glm/glm"]
	path = deps/3rdparty/glm/glm
	url = https://github.com/unravel-dev/glm.git
[submodule "deps/3rdparty/assimp/assimp"]
	path = deps/3rdparty/assimp/assimp
	url = https://github.com/assimp/assimp.git
[submodule "deps/3rdparty/yaml-cpp/yaml-cpp"]
	path = deps/3rdparty/yaml-cpp/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "deps/3rdparty/bullet3/bullet3"]
	path = deps/3rdparty/bullet3/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "deps/audiopp/audiopp"]
	path = deps/audiopp/audiopp
	url = https://github.com/unravel-dev/audiopp.git
[submodule "deps/dotnetpp/dotnetpp"]
	path = deps/dotnetpp/dotnetpp
	url = https://github.com/unravel-dev/dotnetpp.git
[submodule "deps/3rdparty/entt/entt"]
	path = deps/3rdparty/entt/entt
	url = https://github.com/skypjack/entt.git
[submodule "deps/3rdparty/ser20/ser20"]
	path = deps/3rdparty/ser20/ser20
	url = https://github.com/unravel-dev/ser20.git
[submodule "deps/threadpp/threadpp"]
	path = deps/threadpp/threadpp
	url = https://github.com/unravel-dev/threadpp.git
[submodule "deps/3rdparty/cpptrace/cpptrace"]
	path = deps/3rdparty/cpptrace/cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace.git
[submodule "deps/3rdparty/RmlUi/RmlUi"]
	path = deps/3rdparty/RmlUi/RmlUi
	url = https://github.com/mikke89/RmlUi.git
[submodule "deps/3rdparty/watcher/watcher"]
	path = deps/3rdparty/watcher/watcher
	url = https://github.com/e-dant/watcher.git
[submodule "deps/3rdparty/cpp-httplib/cpp-httplib"]
	path = deps/3rdparty/cpp-httplib/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
