<html>
<head>
    <title>Splash</title>
    <link type="text/rcss" href="engine:/data/ui/rml.rcss"/>
    <link type="text/rcss" href="engine:/data/ui/splash.rcss"/>
</head>
<body id="splash-root">
    <div class="splash-container">
        <img id="splash-logo" class="splash-logo" src=""/>
    </div>
</body>
</html>
